{{ partial "header" . }}

<main>
   <h1 class="intro">{{ markdownify .Site.Params.Description }}</h1>
   {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
   {{ partial "paginator" . }}
</main>

{{ partial "footer" . }}
